@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.hamburger-menu-icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml, <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM17 17.25H7C6.59 17.25 6.25 16.91 6.25 16.5C6.25 16.09 6.59 15.75 7 15.75H17C17.41 15.75 17.75 16.09 17.75 16.5C17.75 16.91 17.41 17.25 17 17.25ZM17 12.75H7C6.59 12.75 6.25 12.41 6.25 12C6.25 11.59 6.59 11.25 7 11.25H17C17.41 11.25 17.75 11.59 17.75 12C17.75 12.41 17.41 12.75 17 12.75ZM17 8.25H7C6.59 8.25 6.25 7.91 6.25 7.5C6.25 7.09 6.59 6.75 7 6.75H17C17.41 6.75 17.75 7.09 17.75 7.5C17.75 7.91 17.41 8.25 17 8.25Z" fill="white" /></svg>');
}

.hamburger-menu-icon-mobile {
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml, <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM17 17.25H7C6.59 17.25 6.25 16.91 6.25 16.5C6.25 16.09 6.59 15.75 7 15.75H17C17.41 15.75 17.75 16.09 17.75 16.5C17.75 16.91 17.41 17.25 17 17.25ZM17 12.75H7C6.59 12.75 6.25 12.41 6.25 12C6.25 11.59 6.59 11.25 7 11.25H17C17.41 11.25 17.75 11.59 17.75 12C17.75 12.41 17.41 12.75 17 12.75ZM17 8.25H7C6.59 8.25 6.25 7.91 6.25 7.5C6.25 7.09 6.59 6.75 7 6.75H17C17.41 6.75 17.75 7.09 17.75 7.5C17.75 7.91 17.41 8.25 17 8.25Z" fill="white" /></svg>');
}

.discover-icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.94 3.5H5.06C4.65 3.5 4.31 3.16 4.31 2.75C4.31 2.34 4.65 2 5.06 2H18.94C19.35 2 19.69 2.34 19.69 2.75C19.69 3.16 19.35 3.5 18.94 3.5Z" fill="white"/><path d="M18.94 22H5.06C4.65 22 4.31 21.66 4.31 21.25C4.31 20.84 4.65 20.5 5.06 20.5H18.94C19.35 20.5 19.69 20.84 19.69 21.25C19.69 21.66 19.35 22 18.94 22Z" fill="white"/><path d="M2.75 8V16C2.75 17.66 4.09 19 5.75 19H18.25C19.91 19 21.25 17.66 21.25 16V8C21.25 6.34 19.91 5 18.25 5H5.75C4.09 5 2.75 6.34 2.75 8Z" fill="white"/></svg>');
}

.discover-icon-mobile {
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  background-image: url('data:image/svg+xml,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M18.94 3.5H5.06C4.65 3.5 4.31 3.16 4.31 2.75C4.31 2.34 4.65 2 5.06 2H18.94C19.35 2 19.69 2.34 19.69 2.75C19.69 3.16 19.35 3.5 18.94 3.5Z" fill="%23334d5e"/%3E%3Cpath d="M18.94 22H5.06C4.65 22 4.31 21.66 4.31 21.25C4.31 20.84 4.65 20.5 5.06 20.5H18.94C19.35 20.5 19.69 20.84 19.69 21.25C19.69 21.66 19.35 22 18.94 22Z" fill="%23334d5e"/%3E%3Cpath d="M2.75 8V16C2.75 17.66 4.09 19 5.75 19H18.25C19.91 19 21.25 17.66 21.25 16V8C21.25 6.34 19.91 5 18.25 5H5.75C4.09 5 2.75 6.34 2.75 8Z" fill="%23334d5e"/%3E%3C/svg%3E');
}

.search-icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.2129 23.7949C26.582 24.2051 26.582 24.8203 26.1719 25.1895L25.0234 26.3379C24.6543 26.748 24.0391 26.748 23.6289 26.3379L19.5684 22.2773C19.3633 22.0723 19.2812 21.8262 19.2812 21.5801V20.8828C17.8047 22.0312 16 22.6875 14.0312 22.6875C9.31445 22.6875 5.5 18.873 5.5 14.1562C5.5 9.48047 9.31445 5.625 14.0312 5.625C18.707 5.625 22.5625 9.48047 22.5625 14.1562C22.5625 16.166 21.8652 17.9707 20.7578 19.4062H21.4141C21.6602 19.4062 21.9062 19.5293 22.1113 19.6934L26.2129 23.7949ZM14.0312 19.4062C16.9023 19.4062 19.2812 17.0684 19.2812 14.1562C19.2812 11.2852 16.9023 8.90625 14.0312 8.90625C11.1191 8.90625 8.78125 11.2852 8.78125 14.1562C8.78125 17.0684 11.1191 19.4062 14.0312 19.4062Z" fill="white"/></svg>');
}

.search-icon-mobile {
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  background-image: url('data:image/svg+xml,%3Csvg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M26.2129 23.7949C26.582 24.2051 26.582 24.8203 26.1719 25.1895L25.0234 26.3379C24.6543 26.748 24.0391 26.748 23.6289 26.3379L19.5684 22.2773C19.3633 22.0723 19.2812 21.8262 19.2812 21.5801V20.8828C17.8047 22.0312 16 22.6875 14.0312 22.6875C9.31445 22.6875 5.5 18.873 5.5 14.1562C5.5 9.48047 9.31445 5.625 14.0312 5.625C18.707 5.625 22.5625 9.48047 22.5625 14.1562C22.5625 16.166 21.8652 17.9707 20.7578 19.4062H21.4141C21.6602 19.4062 21.9062 19.5293 22.1113 19.6934L26.2129 23.7949ZM14.0312 19.4062C16.9023 19.4062 19.2812 17.0684 19.2812 14.1562C19.2812 11.2852 16.9023 8.90625 14.0312 8.90625C11.1191 8.90625 8.78125 11.2852 8.78125 14.1562C8.78125 17.0684 11.1191 19.4062 14.0312 19.4062Z" fill="%23334d5e"/%3E%3C/svg%3E');
}

.message-add-icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 2H8C4 2 2 4 2 8V21C2 21.55 2.45 22 3 22H16C20 22 22 20 22 16V8C22 4 20 2 16 2ZM15.5 12.75H12.75V15.5C12.75 15.91 12.41 16.25 12 16.25C11.59 16.25 11.25 15.91 11.25 15.5V12.75H8.5C8.09 12.75 7.75 12.41 7.75 12C7.75 11.59 8.09 11.25 8.5 11.25H11.25V8.5C11.25 8.09 11.59 7.75 12 7.75C12.41 7.75 12.75 8.09 12.75 8.5V11.25H15.5C15.91 11.25 16.25 11.59 16.25 12C16.25 12.41 15.91 12.75 15.5 12.75Z" fill="%23FF5E2C"/></svg>');
}

.message-add-icon-mobile {
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 2H8C4 2 2 4 2 8V21C2 21.55 2.45 22 3 22H16C20 22 22 20 22 16V8C22 4 20 2 16 2ZM15.5 12.75H12.75V15.5C12.75 15.91 12.41 16.25 12 16.25C11.59 16.25 11.25 15.91 11.25 15.5V12.75H8.5C8.09 12.75 7.75 12.41 7.75 12C7.75 11.59 8.09 11.25 8.5 11.25H11.25V8.5C11.25 8.09 11.59 7.75 12 7.75C12.41 7.75 12.75 8.09 12.75 8.5V11.25H15.5C15.91 11.25 16.25 11.59 16.25 12C16.25 12.41 15.91 12.75 15.5 12.75Z" fill="%23FF5E2C"/></svg>');
}

.profile-circle-icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.9"><path d="M29.3334 16C29.3334 8.65332 23.3467 2.66666 16 2.66666C8.65335 2.66666 2.66669 8.65332 2.66669 16C2.66669 19.8667 4.33335 23.3467 6.97335 25.7867C6.97335 25.8 6.97335 25.8 6.96002 25.8133C7.09335 25.9467 7.25335 26.0533 7.38669 26.1733C7.46669 26.24 7.53335 26.3067 7.61335 26.36C7.85335 26.56 8.12002 26.7467 8.37335 26.9333C8.46669 27 8.54669 27.0533 8.64002 27.12C8.89335 27.2933 9.16002 27.4533 9.44002 27.6C9.53335 27.6533 9.64002 27.72 9.73335 27.7733C10 27.92 10.28 28.0533 10.5734 28.1733C10.68 28.2267 10.7867 28.28 10.8934 28.32C11.1867 28.44 11.48 28.5467 11.7734 28.64C11.88 28.68 11.9867 28.72 12.0934 28.7467C12.4134 28.84 12.7334 28.92 13.0534 29C13.1467 29.0267 13.24 29.0533 13.3467 29.0667C13.72 29.1467 14.0934 29.2 14.48 29.24C14.5334 29.24 14.5867 29.2533 14.64 29.2667C15.0934 29.3067 15.5467 29.3333 16 29.3333C16.4534 29.3333 16.9067 29.3067 17.3467 29.2667C17.4 29.2667 17.4534 29.2533 17.5067 29.24C17.8934 29.2 18.2667 29.1467 18.64 29.0667C18.7334 29.0533 18.8267 29.0133 18.9334 29C19.2534 28.92 19.5867 28.8533 19.8934 28.7467C20 28.7067 20.1067 28.6667 20.2134 28.64C20.5067 28.5333 20.8134 28.44 21.0934 28.32C21.2 28.28 21.3067 28.2267 21.4134 28.1733C21.6934 28.0533 21.9734 27.92 22.2534 27.7733C22.36 27.72 22.4534 27.6533 22.5467 27.6C22.8134 27.44 23.08 27.2933 23.3467 27.12C23.44 27.0667 23.52 27 23.6134 26.9333C23.88 26.7467 24.1334 26.56 24.3734 26.36C24.4534 26.2933 24.52 26.2267 24.6 26.1733C24.7467 26.0533 24.8934 25.9333 25.0267 25.8133C25.0267 25.8 25.0267 25.8 25.0134 25.7867C27.6667 23.3467 29.3334 19.8667 29.3334 16ZM22.5867 22.6267C18.9734 20.2 13.0534 20.2 9.41335 22.6267C8.82669 23.0133 8.34669 23.4667 7.94669 23.96C5.92002 21.9067 4.66669 19.0933 4.66669 16C4.66669 9.74666 9.74669 4.66666 16 4.66666C22.2534 4.66666 27.3334 9.74666 27.3334 16C27.3334 19.0933 26.08 21.9067 24.0534 23.96C23.6667 23.4667 23.1734 23.0133 22.5867 22.6267Z" fill="white"/><path d="M16 9.23999C13.24 9.23999 11 11.48 11 14.24C11 16.9467 13.12 19.1467 15.9333 19.2267C15.9733 19.2267 16.0267 19.2267 16.0533 19.2267C16.08 19.2267 16.12 19.2267 16.1467 19.2267C16.16 19.2267 16.1733 19.2267 16.1733 19.2267C18.8667 19.1333 20.9867 16.9467 21 14.24C21 11.48 18.76 9.23999 16 9.23999Z" fill="white"/></g></svg>');
}

.close-icon {
  background-size: cover;
  width: 14px;
  height: 14px;
  background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="black"/></svg>');
}

.loader-icon {
  background-size: cover;
  width: 78.4px;
  height: 78.4px;
  background-image: url('data:image/svg+xml, <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M40 0.799988C37.2938 0.799988 35.1 2.99372 35.1 5.69999V15.5C35.1 18.2063 37.2938 20.4 40 20.4C42.7073 20.4 44.9001 18.2063 44.9001 15.5V5.69999C44.9001 2.99372 42.7073 0.799988 40 0.799988ZM67.7194 12.2814C65.8059 10.3677 62.7018 10.3677 60.7883 12.2814L53.8597 19.211C51.9462 21.1247 51.9462 24.2271 53.8597 26.1406C55.7731 28.0543 58.8749 28.0543 60.7883 26.1406L67.7194 19.211C69.6328 17.2976 69.6328 14.1949 67.7194 12.2814ZM74.3 35.1C77.0073 35.1 79.2001 37.2927 79.2001 40C79.2001 42.7072 77.0073 44.9 74.3 44.9H64.5C61.7928 44.9 59.6001 42.7072 59.6001 40C59.6001 37.2927 61.7928 35.1 64.5 35.1H74.3ZM67.7194 67.7193C69.6328 65.8058 69.6328 62.7017 67.7194 60.7882L60.7883 53.8596C58.8749 51.9462 55.7731 51.9462 53.8597 53.8596C51.9462 55.7731 51.9462 58.8748 53.8597 60.7882L60.7883 67.7193C62.7018 69.6327 65.8059 69.6327 67.7194 67.7193ZM44.9001 74.3C44.9001 77.0072 42.7073 79.2 40 79.2C37.2938 79.2 35.1 77.0072 35.1 74.3V64.5C35.1 61.7927 37.2938 59.6 40 59.6C42.7073 59.6 44.9001 61.7927 44.9001 64.5V74.3ZM12.2815 67.7193C14.1949 69.6327 17.2976 69.6327 19.2111 67.7193L26.1406 60.7882C28.0543 58.8748 28.0543 55.7731 26.1406 53.8596C24.2272 51.9462 21.1248 51.9462 19.2111 53.8596L12.2815 60.7882C10.3678 62.7017 10.3678 65.8058 12.2815 67.7193ZM5.70005 44.9C2.99378 44.9 0.800049 42.7072 0.800049 40C0.800049 37.2927 2.99378 35.1 5.70005 35.1H15.5C18.2063 35.1 20.4 37.2927 20.4 40C20.4 42.7072 18.2063 44.9 15.5 44.9H5.70005ZM12.2815 12.2814C10.3678 14.1949 10.3678 17.2976 12.2815 19.211L19.2111 26.1406C21.1248 28.0543 24.2272 28.0543 26.1406 26.1406C28.0543 24.2271 28.0543 21.1247 26.1406 19.211L19.2111 12.2814C17.2976 10.3677 14.1949 10.3677 12.2815 12.2814Z" fill="black" /></svg>');
}

@media (max-width: 700px) {
  .hamburger-menu-icon {
    background-size: cover;
    width: 18px;
    height: 18px;
  }
  .discover-icon {
    background-size: cover;
    width: 18px;
    height: 18px;
  }
  .search-icon {
    background-size: cover;
    width: 18px;
    height: 18px;
  }
  .message-add-icon {
    background-size: cover;
    width: 18px;
    height: 18px;
  }
  .profile-circle-icon {
    background-size: cover;
    width: 18px;
    height: 18px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
}

.main-header {
  background-color: #7545ff;
  width: 100%;
  height: 70px;
  padding: 0 60px;
}
.main-header a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  line-height: 21px;
}
@media (max-width: 900px) {
  .main-header a {
    font-size: 13px;
  }
}
.main-header .navbar-header-mobile,
.main-header .mobile-menu {
  display: none;
}
.main-header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  line-height: 21px;
  height: 70px;
}
@media (max-width: 900px) {
  .main-header .header-inner {
    font-size: 13px;
  }
}
.main-header .header-inner .header-items-div {
  display: flex;
  align-items: center;
  gap: 50px;
}
.main-header .header-inner .header-items-div .flex-header-items {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}
.main-header .header-inner .header-items-div .flex-header-items:first-child {
  gap: 10px;
}
.main-header .header-inner .header-items-div .flex-header-items:nth-child(2), .main-header .header-inner .header-items-div .flex-header-items:nth-child(3) {
  gap: 6px;
}
.main-header .header-inner .header-items-div .flex-header-items:last-child {
  gap: 10px;
}
.main-header .header-inner .header-items-div .flex-header-items span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  line-height: 21px;
}
@media (max-width: 900px) {
  .main-header .header-inner .header-items-div .flex-header-items span {
    font-size: 13px;
  }
}
.main-header .header-inner .header-logo-item {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .header-inner .header-logo-item .logo-image {
  width: 100%;
  height: 46px;
}
.main-header .header-inner .header-login-div {
  display: flex;
  align-items: center;
  gap: 72px;
}
.main-header .header-inner .header-login-div .header-login-item {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  line-height: 21px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}
@media (max-width: 900px) {
  .main-header .header-inner .header-login-div .header-login-item {
    font-size: 13px;
  }
}
.main-header .header-inner .header-add-message-button {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  border: none;
  color: #334e5e;
  background-color: #ffffff;
  padding: 12px 24px;
  border-radius: 10px;
  height: 48px;
  cursor: pointer;
}
.main-header .header-inner .add-message-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.subheader::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.subheader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}
.subheader .router-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  color: #334e5e;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  height: 40px;
  padding: 0px 5px 0px 3px;
  border-radius: 8px;
  border: 1px solid #d7d7d7;
  scroll-snap-align: start;
}
.subheader .router-card img {
  width: 32px;
  height: 32px;
}
.subheader .thumbnail-images {
  display: flex;
  align-items: center;
}
.subheader .thumbnail-images img:first-child {
  margin-left: 0;
}
.subheader .thumbnail-images img:nth-child(2), .subheader .thumbnail-images img:nth-child(3) {
  margin-left: -8px;
}
.subheader .more-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #6927da;
  color: #fff;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 12.89px;
  margin-left: -8px;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 1050px;
  margin: 1rem auto;
  gap: 20px;
}
.main-content .subject-tag-card {
  width: 100%;
  max-width: 138px;
  padding: 12px 16px 10px 13px;
  border-radius: 12px;
  background-color: #f8fafc;
  border: 1px solid #eaecf0;
}
.main-content .subject-tag-card a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-decoration: none;
  color: #334d5e;
}
.main-content .flex-article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-content .article-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
}
.main-content .article-card:nth-child(2) {
  max-width: 300px;
}
.main-content .article-card .article-content-image {
  width: 100%;
  height: 100%;
}
.main-content .article-card .article-image {
  display: flex;
  align-items: center;
  gap: 11.88px;
}
.main-content .article-card .article-image .writer-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-content .article-card .article-image .writer-information .article-writer {
  font-family: "Roboto", sans-serif;
  font-size: 14.25px;
  font-weight: 500;
  line-height: 22.8px;
  text-decoration: none;
  color: #334d5e;
}
.main-content .article-card .article-image .writer-information .writer-tag {
  font-family: "Roboto", sans-serif;
  font-size: 11.88px;
  font-weight: 600;
  line-height: 11.88px;
  padding: 2.38px 7.13px 2.38px 7.13px;
  border: 1px solid rgba(51, 77, 94, 0.2);
  border-radius: 2.38px;
  color: rgba(51, 77, 94, 0.6980392157);
}
.main-content .article-card .article-image .writer-information .writer-rank {
  font-family: "Roboto", sans-serif;
  font-size: 10.69px;
  font-weight: 400;
  line-height: 17.1px;
  color: #334d5e;
  opacity: 0.7;
}
.main-content .article-card .border-gray {
  background-color: #eaecf0;
  width: 100%;
  height: 1px;
}
.main-content .article-card .side-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-content .article-card .article-header {
  font-family: "Noto Sans", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  color: #334d5e;
}
.main-content .article-card .header-question {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #334d5e;
  margin-bottom: 1rem;
}
.main-content .article-card .paragraph-lg-regular {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #334d5e;
}
.main-content .article-card li {
  list-style: none;
}
.main-content .article-card .paragraph-lg-semibold {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  text-decoration: none;
  color: #334d5e;
}
.main-content .article-card .paragraph-lg-semibold:hover {
  text-decoration: underline;
  transition: 0.5s;
}

.plan-vacation {
  position: fixed;
  bottom: 1rem;
  right: 0;
  cursor: pointer;
}
.plan-vacation .vacation-image {
  width: 100%;
}

.popup-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  max-width: 742px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px;
  z-index: 5;
  border-radius: 20px;
  margin: 6px 0;
}
.popup-container .header-popup {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 44.53px;
  width: 325px;
  text-align: center;
}
@media (max-width: 11500px) {
  .popup-container .header-popup {
    font-size: 28px;
  }
}
@media (max-width: 900px) {
  .popup-container .header-popup {
    font-size: 18px;
  }
}
.popup-container .popup-header-flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.popup-container .close-icon-position {
  cursor: pointer;
  position: relative;
  left: 10rem;
  top: 2px;
}
.popup-container .popup-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.popup-container .popup-body {
  width: 100%;
  max-height: 80%;
}
.popup-container .popup-body .popup-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}
.popup-container .popup-body .popup-third-content {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}
.popup-container .popup-body .popup-third-content .heading-popup-third {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}
@media (max-width: 1150px) {
  .popup-container .popup-body .popup-third-content .heading-popup-third {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .popup-container .popup-body .popup-third-content .heading-popup-third {
    font-size: 16px;
  }
}
.popup-container .popup-body .popup-third-content .travel-destination {
  font-family: "Roboto", sans-serif;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}
.popup-container .popup-body .popup-third-content .travel-destination-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.popup-container .popup-body .popup-third-content .popup-third-image {
  width: 100%;
}
.popup-container .popup-body .popup-third-content .popup-third-image img {
  width: 100%;
  border-radius: 10px;
}
.popup-container .popup-body .popup-third-content .explore-now-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 20px 30px 20px 30px;
  background-color: #eaecf0;
  border-radius: 10px;
}
.popup-container .popup-body .popup-third-content .explore-now-container .text-popup-third-bottom {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.popup-container .popup-body .popup-third-content .explore-now-container .third-content-button-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.popup-container .popup-body .popup-third-content .explore-now-container .third-content-button-flex .button-explore-now {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: -0.04em;
  cursor: pointer;
  padding: 10px 30px 10px 30px;
  gap: 5px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
}
@media (max-width: 900px) {
  .popup-container .popup-body .popup-third-content .explore-now-container .third-content-button-flex .button-explore-now {
    font-size: 14px;
  }
}
.popup-container .popup-body .popup-loader-content {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.popup-container .popup-body .popup-loader-content .popup-loader-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #000000;
  max-width: 346px;
}
.popup-container .rotating {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.popup-container .popup-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #eaecf0;
  width: 100%;
  padding: 30px 20px 30px 20px;
  border-radius: 10px;
  gap: 15px;
}
.popup-container .popup-question .question-header {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
}
@media (max-width: 1150px) {
  .popup-container .popup-question .question-header {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .popup-container .popup-question .question-header {
    font-size: 14px;
  }
}
.popup-container .popup-question .popup-input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 19px;
  opacity: 0.5px;
  cursor: pointer;
}
@media (max-width: 900px) {
  .popup-container .popup-question .popup-input {
    font-size: 14px;
  }
}
.popup-container .popup-question .popup-input:nth-child(2) {
  width: auto;
}
.popup-container .popup-button {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  letter-spacing: -0.04em;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  border: none;
}
@media (max-width: 900px) {
  .popup-container .popup-button {
    font-size: 16px;
  }
}

.popup-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0px;
  opacity: 0.6;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.text-primary {
  color: #334e5e;
}

.error-message {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  color: red;
  display: none;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #d0d5dd;
  border-radius: 10px;
  border: 4px solid #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #f5f5f5;
}

/*General*/
@media (max-width: 1450px) {
  .popup-container .popup-body {
    overflow-y: auto;
  }
  .popup-container .popup-header-flex {
    margin-bottom: 10px;
  }
  .popup-container .popup-content {
    gap: 15px;
  }
  .popup-container .popup-question {
    gap: 10px;
    padding: 20px;
  }
  .popup-container .popup-footer {
    margin-top: 0;
  }
  .popup-container .popup-button {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    letter-spacing: -0.04em;
    padding: 5px 20px 5px 20px;
  }
}
@media (max-width: 1450px) and (max-width: 900px) {
  .popup-container .popup-button {
    font-size: 16px;
  }
}
@media (max-width: 1150px) {
  .main-header .header-inner {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    line-height: 21px;
  }
  .main-header .header-inner a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    line-height: 21px;
  }
  .main-header .header-inner .flex-header-items {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    line-height: 21px;
  }
  .main-header .header-inner .header-add-message-button {
    display: none;
  }
  .main-content {
    flex-wrap: wrap;
    align-items: center;
  }
  .main-content .article-card {
    width: 100%;
  }
  .main-content .article-card:nth-child(2) {
    max-width: 100%;
  }
  .main-content .article-card .article-content-image {
    width: 100%;
    height: 100%;
    max-width: 90%;
  }
  .popup-container .popup-body .popup-third-content {
    gap: 10px;
  }
  .popup-container .popup-body .popup-third-content .explore-now-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 5px 15px 5px 15px;
    background-color: #eaecf0;
    border-radius: 10px;
  }
  .popup-container .popup-body .popup-third-content .explore-now-container .text-popup-third-bottom {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .popup-container .popup-body .popup-third-content .explore-now-container .third-content-button-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .popup-container .popup-body .popup-loader-content {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
  }
  .popup-container .popup-body .popup-loader-content .popup-loader-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    color: #000000;
    max-width: 346px;
  }
}
@media (max-width: 900px) {
  .main-header {
    padding: 0 10px;
  }
  .main-header .mobile-active {
    display: flex;
  }
  .main-header .navbar-header-mobile {
    flex-direction: column;
    align-items: flex-start;
    z-index: 50;
    position: fixed;
    width: 72%;
    height: 100%;
    background-color: #ffffff;
    left: 0;
    top: 0;
  }
  .main-header .navbar-header-mobile .mobile-header-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    color: #fff;
    font-weight: 600;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
  }
  .main-header .navbar-header-mobile .mobile-add-message-button {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    color: #fff;
    font-weight: 600;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    gap: 1rem;
  }
  .main-header .navbar-header-mobile .mobile-navbar-contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 3rem;
    gap: 1rem;
    left: 1rem;
  }
  .main-header .header-inner {
    justify-content: space-between;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    color: #fff;
    font-weight: 700;
    line-height: 1.3;
  }
  .main-header .header-inner a {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    color: #fff;
    font-weight: 700;
    line-height: 1.3;
  }
  .main-header .header-inner .header-items-div {
    display: none;
  }
  .main-header .header-inner .mobile-menu {
    display: flex;
    flex: 0.7;
  }
  .main-header .header-inner .header-logo-item {
    flex: 1;
    justify-content: flex-start;
  }
  .main-header .header-inner .header-logo-item .logo-image {
    max-width: 105px;
    position: relative;
    left: 1rem;
  }
  .main-header .header-inner .header-add-message-button {
    display: none;
  }
  .main-header .header-inner .header-login-div .header-login-item {
    gap: 2px;
  }
  .subheader {
    justify-content: flex-start;
  }
  .popup-container {
    padding: 5px;
    max-width: 95%;
    max-height: 90%;
  }
  .popup-container .popup-header-flex {
    margin-bottom: 5px;
  }
  .popup-container .popup-third-image img {
    height: 150px;
  }
  .popup-container .close-icon-position {
    left: 0;
    top: 0;
  }
  .popup-container .popup-body .popup-content {
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
