$mainHeader: #7545ff;
$bodyBackground: #f3f3f3;
$card-background: #ffffff;
$white-color: #fff;
$primary-text-color: #334e5e;
$border-gray: #d7d7d7;
$purple-background: #6927da;
$grey-article: #334d5e;
$gray-200:#EAECF0;
$color-navy:#334D5EB2;
$tag-border:#334D5E33;
$gray-100:#F8FAFC;