$mainHeader: #7545ff;
$bodyBackground: #f3f3f3;
$card-background: #ffffff;
$white-color: #fff;
$primary-text-color: #334e5e;
$border-gray: #d7d7d7;
$purple-background: #6927da;
$grey-article: #334d5e;
$gray-200: #eaecf0;
$color-navy: #334d5eb2;
$tag-border: #334d5e33;
$gray-100: #f8fafc;
$black: #00000099;
$button-black: #000000;
$red: red;
